@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.roboto-flex-variable {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 100,
    'GRAD' 0,
    'XOPQ' 96,
    'XTRA' 468,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--color-header);
  margin-bottom: 0.5em;
}
p,
li,
td,
th {
  font-size: var(--font-size-base);
  color: var(--color-text);
}
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color var(--transition);
}
a:hover {
  color: var(--color-primary-dark);
}
